

.stack-sans-text-stack {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


html, body{
  font-family: "Stack Sans Text", sans-serif !important;
  height: 100%;
  margin: 0;
}
