

.stack-sans-text-stack {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


html, body{
  font-family: "Stack Sans Text", sans-serif !important;
  height: 100%;
  margin: 0;
}

.main_menu{
  width: 50%;
  margin: auto;
}

.main_menu > h2{
  margin-top: 2rem;
}

.main_menu > p{
  margin-bottom: 2rem;
}

.fale_conosco{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form_faleconosco{
  display: flex;
  background-color: #0A3669;
  width: 50%;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  color: white;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 2px 3px 12px black;

}

.form_faleconosco_inputs{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form_faleconosco_inputs > textarea{
  height: 100px;
  width: 300px;
  overflow-y: scroll;
}

.form_faleconosco > button{
    width: 200px; /* impede de ocupar tudo */
    padding: 0.4rem 0.5rem;
    border: none;
    background-color: #0A7DDB;
    font-size: 1.1rem;
    color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
}

