*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stack-sans-text-stack {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


html, body{
    font-family: "Stack Sans Text", sans-serif !important;
    height: 100%;
    margin: 0;
}

.layout{
    display: flex;
    min-height: 100vh;
}

form{
    color: white;
}

.sidebar{
    width: 250px;
    border: 1px solid black;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto; 
}

.btn_sair{
    margin-top: auto; /* empurra para o final da sidebar */
    background: #0A7DDB;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.content{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0A3669;
}

h1{
    color: white;
    font-size: 2rem !important;
    margin-bottom: 2rem;
}

h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
}

p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
}

.posts_container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.post_card{
    width: 40%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}

.post_card_image{
    height: auto;
    max-width: 200px;
}

.modal_edicao {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal_edicao_content {
    
    color: white;
    background: #0A3669;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}



.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

.form_criar_post{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 80%;
}

.form_container{
    height: 100%;
    display: flex;
}

.form_inputs_1, .form_inputs_2{
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.form_inputs_2{
    gap: 0;
}


.form_inputs_2 > .form_inputs_containers{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.form_inputs_containers >  select{
    padding: 1.5rem;
    border-radius: 10px;
    width: 400px;
}

.form_inputs_containers >  select > option{
    border: 1px solid gray;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.form_inputs_containers{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form_input_textarea{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_inputs_containers > input{
    border-radius: 10px;
    padding: 0.5rem;
}

.form_input_textarea > textarea{
    overflow-y: scroll;
    padding: 0.5rem;
}

.form_input_textarea > button{
    width: 200px;
    align-self: flex-end;
}

.botao_criar_post{
    width: 200px;
    margin: 20px auto;
    align-self: flex-start;
    padding: 0.4rem 0.5rem;
    border: none;
    background-color: #0A7DDB;
    font-size: 1.1rem;
    color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
}


.form_categoria, .form_usuario{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs_categoria_e_usuario{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    width: 100%;
}

.inputs_categoria_e_usuario > input{
    align-self: flex-end;
    width: 300px;
}

.botao_criacao{
    width: fit-content; /* impede de ocupar tudo */
    align-self: flex-start;
    padding: 0.4rem 0.5rem;
    border: none;
    background-color: #0A7DDB;
    font-size: 1.1rem;
    color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
}

.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 600px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.fechar {
    float: right;
    font-size: 22px;
    cursor: pointer;
}